@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.flex {
  display: flex;
  align-items: center;
}

.container {
  padding: 0 15px;
  min-height: 100vh;
  justify-content: center;
  background: transparent;
}

.referral-page {
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  padding: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
    0 8px 16px rgba(0, 0, 0, 0.1);
}

.referral-page h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  font-size: 1rem;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  text-align: center;
}

.form-group label input[type="checkbox"] {
  margin-right: 10px;
  transform: scale(0.8);
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.form-group input {
  height: 55px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  padding: 0 14px;
}

.form-group input:focus {
  outline: none;
  border-color: #1877f2;
}

#submitBtn {
  border: none;
  outline: none;
  cursor: pointer;
  background: #088F8F; /* Change the background color to submit's blue */
  padding: 10px 0;
  border-radius: 6px;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.2s ease;
}

#submitBtn:hover {
  background: #088F8F; /* Slightly darker blue on hover */
}

.form-group .cancelbtn {
  background-color: #088F8F;
  padding: 10px 0;
  font-size: 1rem;
}

.form-group .cancelbtn:hover {
  background-color: #5F9EA0;
}

.form-group .psw {
  color: #1877f2;
  font-size: 0.875rem;
}

.form-group .psw:hover {
  text-decoration: underline;
}

.facebook-page {
  justify-content: space-between;
  max-width: 1000px;
  width: 100%;
}
